*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	width: 100%;
	display: block;
	background: #292525;
	height: 200px;
}

.page{
	max-width: 900px;
	margin: 0 auto;
	height: 500px;
}

.sidebar{
	background-color: #3e3838;
	height: 100%;
	width:30%;
	display: inline-block;

}

.content{
	height: 100%;
		width: 70%;
		background-color: #545252;
		display: inline-block;

}

.footer{
	width: 100%;
	background: #666;
	height: auto;
}

.column{
			display: inline-block;
		  background-color: #53535f;
		  width: 31%;
			height: 150px;
			margin-top: .5%;
			margin-left: 1%;
			margin-right: 1%;
			margin-bottom: .5%;

}
