body {
background: #E9D2F4;
text-align: center;
}

.otro {
  background: #E9D2F4;
  height: 100vh;
}

.col {
  background: #FFFBFA;
}

.menu{
  background: #1B2845;
  color: white;
  height: 90px;
  padding: 10px;
  font-size: 40px;
  font-family: 'Amatic';
}

.header {
  background: #274060;
  color: white;
  height: 200px;
  padding: 10px;
  font-size: 40px;
  font-family: 'Amatic';
}
.content {
  background: #335C81;
  color: white;
  height: 850px;
  padding: 10px;
  font-size: 40px;
  font-family: 'Amatic';
}

.sing{
  background: #5899E2;
  color: white;
  height: 300px;
  padding: 10px;
  font-size: 40px;
  font-family: 'Amatic';
}
.f1{
  background: #6CBEED;
  color: white;
  height: 300px;
  padding: 10px;
  font-size: 40px;
  font-family: 'Amatic';
}

.f2{
  background: #65AFFF;
  color: white;
  height: 300px;
  padding: 10px;
  font-size: 40px;
  font-family: 'Amatic';
}

.f3{
  background: #6EB4D1;
  color: white;.org
  height: 300px;
  padding: 10px;
  font-size: 40px;
  font-family: 'Amatic';
}
