body {
    background: #c3ccbe;
    text-align: center;
}

.otro {
    background: #c3ccbe;
    height: 100vh;
}

.col {
    background: #FFFBFA;
}

.menu {
    background: #2e5026;
    color: #272525;
    height: 90px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Amatic';
    /* border: yellow; */
}

.header {
    background: #72c529;
    color: #272525;
    height: 200px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Amatic';
}

.content {
    background: #66e85e;
    color: #272525;
    height: 850px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Amatic';
}

.sing {
    background: #95f784;
    color: #272525;
    height: 300px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Amatic';
}

.f1 {
    background: #4ceccc;
    color: #272525;
    height: 300px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Amatic';
}

.f2 {
    background: #4ceccc;
    color: #272525e;
    height: 300px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Amatic';
}

.f3 {
    background: #4ceccc;
    color: #272525;
    height: 300px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Amatic';
}