$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body{
  background: papayawhip;
  height: 100vh;
}
.container{
  background-color:#C71585
}
